.App {
  text-align: center;
}

.App-header {
  background-color: rgba(5,20,30,1);
  height: 100vh;
  width:auto;
  
/*  background: linear-gradient(
    to left,
    rgba(7,27,82,1) 0%,
    rgba(0,128,128,1) 100%
  );*/
  
min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.particles{
  z-index: -1;
  background-size: cover;
}
.nav-container
{
  position: fixed;
}
#navbar { 
  margin-top: 30vh;
  transform: translateX(0);
   box-shadow: -1px 1px 3px gray;
}
#navbar {
  display: flex;
  flex-direction: column;
  width:150px;
  background-color: rgba(0,0,0,.2);
  transform: translateX(-100%);
  transition: transform .5s cubic-bezier(.4,0,.2,1);
}
#navbar a {
    color: white;
    text-decoration: none;
}
#navbar > * {
  padding: .3rem;
}
.link-container:hover
{
  background-color: rgba(255,255,255,.1);
}
.nav-container:hover #navbar {
  transform: translateX(5%);
}
@font-face {
font-family: 'Atlane Regular';
font-style: normal;
font-weight: normal;
src: local('Atlane Regular'), url('Atlane OTF.woff') format('woff');
}
.head1
{
  position: absolute;
  margin-top: 30vh;
  margin-left: 20vw;
  text-align:center;
  font-family: 'Atlane Regular';
  font-size: 7vw;
}
.head2
{
  position: absolute;
  margin-left: 50vw;
  margin-top: 50vh;
  font-family: 'Atlane Regular';
  font-size: 5vw;
  align: center;
}
.products
{
/*    background: linear-gradient(
    to left,
    rgba(7,27,82,1) 0%,
    rgba(0,128,128,1) 100%
  );
*/background-color: rgba(10,25,35,1);  
  height: 100vh;
}
.producthead
{
  font-family:"Atlane Regular";
  color:white;  
  font-size: 5vw}
/*carousel sta*/
#jumboCarousel {
    margin-top:10vh;
    margin-left: 30vh;
    height:75vh;
    width:80vw;
}
#jumboCarousel img {
    height: 70vh;
    width:100vh;
    margin-left:50vh;
}
#jumboCarousel > .carousel-indicators > li {
    border-radius: 0px;
    min-width: 25px;
    background-color: #9d9d9d;
    border: 1px solid black;
    margin-right: 10px;;
    margin-left: 10px;;
}
#jumboCarousel > .carousel-indicators > .active {
    background-color: orange;
}
#jumboCarousel .carousel-caption {
    color: white;
    xright: 58%;
    text-align: center;
    max-width: 300px;
    left: 0;
    top: 1px;
  /*top: 50%; */
  xtransform: translateY(-50%);
  xbottom: initial;
  background: rgba(0,0,0,0.5);
  padding:10px;
  height:100%;
  
}

.item {
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  }
.about
{
  background-color: rgba(15,30,40,1);  
  height: 100vh;
}
